.social-media-link:hover,
.social-media-link:focus {
    background-color: var(--background-button-hover);
    color: var(--button-and-h1-color);
    border-radius: 50%;
    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.social-media-svg {
    fill: currentColor;
}


.social-media-list:nth-child(1) {
    margin-left: 32px;
    margin-right: 10px;
}

.social-media-list:nth-child(2) {
    margin-right: 10px;
}

.social-media-list:nth-child(3) {
    margin-right: 10px;
}

.social-media-list:th-child(4) {
    margin-right: 32px;
}

.social-media-list,
.social-media-list-bottom {
    width: 44px;
    height: 44px;
}

.social-media-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: var(--background-svg-color);
}

.social-media-list-bottom:last-child {
    margin-right: 0px;
}

.team-social-media.bottom {
    padding: 0px;
}

.social-media-list-bottom {
    margin-left: 0px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--button-and-h1-color);
}

.social-media-link-bottom {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: var(--button-and-h1-color);
}

.social-media-link-bottom:hover,
.social-media-link-bottom:focus {
    background-color: var(--background-button-hover);
    color: var(--button-and-h1-color);
    border-radius: 50%;
    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.social-media-svg-bottom {
    fill: currentColor;
}