body {
    background-color: var(--main-white-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.list a {
    text-decoration: none;
}